@{
    ViewData["Title"] = "Home Page";
}


<h1>Hej Oscar!!</h1>
<article>
    <p>Jag började bygga för faktisk funktionalitet, men insåg senare att det uppfyllde inte CRUD för alla relationer.</p>

    <p>Denna veckan har varit exremt mycket med sjukhusbesök osv, men jag gjorde funktionalitet för labben,. Crud för 1-1, 1-N och N-M</p>

    <p>1.   1-1 hittar du på profiles, dock så har jag här gjort fel med mening då jag har index för detta, vilket jag inte ska ha i den faktiska applicationen, om du tittar i koden för AccountController så skapas en profil up vid account Create, detta för att profile egentligen inte ska kunna tas bort eller skapas, utan bara tittas på och editeras.</p>


    <p>4.   1-N crud hittar på på WorkoutRatings, här igen är det inte så jag vill att de faktiskt ska presenteras, men de gör sin crud.</p>


    <p>3.   N-M crud hittar vi på workouts EDIT, då det är mer eller mindre ett helvete att skapa en lista i en vy för att skicka ner till en controller så fick jag göra en fullösning :( </p>


    <p>Ska ju utveckla vidare den som hobby projekt, så de va kul att komma igång med det och jag har lärt mig otroligt mycket, varasig jag ville eller inte om vissa grejer! :P</p>

    <p>Kolla på de tre delarna, då jag inte hann med att göra klart alla controllers för hela domänen</p>


    <p>Det kan vara så att jag missat något för VG, men tror inte detta. Är det så så kompliterar jag mer än gärna</p>

    <p>Struktur i projektet saknas då det var mycket svårt att använda MVC Identity User tillsammans med den separata domänen, om du hade ett data lager, detta pga circular dependancy</p>
    
</article>

<h3>Testa gärna att skapa en user vid register då vissa saker sker automagiskt om man är inloggad // Update: Du måste logga in.. sorry!</h3>


<h4>Jag har lärt mig väldigt mycket, om jag skulle haft git på detta så skulle du se att jag byggt om det ca 42 grånger, men nu orkar jag inte mer, för denna labben iaf.</h4>
<p>En liten ändring som skulle haft väldig påverkan skulle vara att flytta profile references till ApplicationUser och separera ut hela domänen och referera till den från MVC istället, detta var omöjligt fram tills jag ändra om väldigt mycket i slutet.</p>
